
*.vsidx
*.lock
.vs/
hworks/algo/home6/*.png
labs/algo/C++/lab7/*.png
labs/algo/C++/lab8/Array104/Array104.sln
labs/algo/C++/lab8/Array104/Array104.vcxproj
labs/algo/C++/lab8/Array104/Array104.vcxproj.filters
labs/algo/C++/lab8/Array104/Array104.vcxproj.user
labs/algo/C++/lab8/Array104/x64/Debug/Array104.exe
labs/algo/C++/lab8/Array104/x64/Debug/Array104.exe.recipe
labs/algo/C++/lab8/Array104/x64/Debug/Array104.ilk
labs/algo/C++/lab8/Array104/x64/Debug/Array104.log
labs/algo/C++/lab8/Array104/x64/Debug/Array104.pdb
labs/algo/C++/lab8/Array104/x64/Debug/Array104.tlog/Array104.lastbuildstate
labs/algo/C++/lab8/Array104/x64/Debug/Array104.vcxproj.FileListAbsolute.txt
labs/algo/C++/lab8/Array27/Array27.vcxproj.user
labs/algo/C++/lab8/Array27/Array27.vcxproj.filters
labs/algo/C++/lab8/Array27/Array27.vcxproj
labs/algo/C++/lab8/Array27/Array27.sln
labs/algo/C++/lab8/Array27/x64/Debug/Array27.exe
labs/algo/C++/lab8/Array27/x64/Debug/Array27.exe.recipe
labs/algo/C++/lab8/Array27/x64/Debug/Array27.ilk
labs/algo/C++/lab8/Array27/x64/Debug/Array27.log
labs/algo/C++/lab8/Array27/x64/Debug/Array27.pdb
labs/algo/C++/lab8/Array27/x64/Debug/Array27.tlog/Array27.lastbuildstate
labs/algo/C++/lab8/Array27/x64/Debug/Array27.vcxproj.FileListAbsolute.txt
labs/algo/C++/lab8/Array60/Array60.sln
labs/algo/C++/lab8/Array60/Array60.vcxproj
labs/algo/C++/lab8/Array60/Array60.vcxproj.filters
labs/algo/C++/lab8/Array60/Array60.vcxproj.user
labs/algo/C++/lab8/Array60/x64/Debug/Array60.exe
labs/algo/C++/lab8/Array60/x64/Debug/Array60.exe.recipe
labs/algo/C++/lab8/Array60/x64/Debug/Array60.ilk
labs/algo/C++/lab8/Array60/x64/Debug/Array60.log
labs/algo/C++/lab8/Array60/x64/Debug/Array60.pdb
labs/algo/C++/lab8/Array60/x64/Debug/Array60.tlog/Array60.lastbuildstate
labs/algo/C++/lab8/Array60/x64/Debug/Array60.vcxproj.FileListAbsolute.txt
