@import url(http://fonts.googleapis.com/css?family=Merriweather&subset=latin,cyrillic);

body {
    font-size: 20px;
    color: yellow;
}

#text {
    /* luxury transatlantic journey */


    position: absolute;
    width: 572px;
    height: 65px;
    left: 739px;
    top: 393px;
    font-family: 'Arizonia';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 65px;
    /* identical to box height */

    text-transform: capitalize;
    color: #131249;
}

#headcruise {
    position: absolute;
    width: 1455px;
    height: 78px;
    left: -1px;
    top: 0px;
    background: #131249;
}

#content {
    position: fixed;
    left: 200px;
    top: 100px;
    border: 1px solid green;
}

#content2 {
    position: relative;
    left: 50px;
    top: 20px;
    border: 1px solid green;
}

p {
    font-family: 'Merriweather', sans-serif;
}

div {
    color: #887700;
    float: right;
    text-align: center;
    background-color: #b0c4de;
}

div {
    padding: 10px
}

blockquote {
    padding-top: 0.3em
}

h1 {
    background: white;
    padding: 1em 2em;
}
