.frame-container {
  min-height: 100vh;
}
.frame-frame {
  width: 100%;
  height: 4070px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(75, 102, 101, 1);
}
.frame-rectangle67 {
  top: 3065px;
  left: 0px;
  width: 1728px;
  height: 1005px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle32 {
  top: 146px;
  left: 0px;
  width: 1728px;
  height: 1014px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle38 {
  top: 1161px;
  left: 0px;
  width: 1728px;
  height: 1060px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text {
  top: 3588px;
  left: 889px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text013 {
  top: 4192px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text015 {
  top: 4192px;
  left: 904px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text020 {
  top: 326px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame9 {
  top: 56px;
  left: 638px;
  width: 910px;
  height: 33px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.frame-text022 {
  top: 214px;
  left: 98px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text024 {
  top: 430px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  width: 373px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text026 {
  top: 356px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  width: 495px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle35 {
  top: 363px;
  left: 1505px;
  width: 123px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-line1 {
  top: 525px;
  left: 1010px;
  width: 497px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text028 {
  top: 550px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text030 {
  top: 633px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  width: 373px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text032 {
  top: 569px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text037 {
  top: 979px;
  left: 99px;
  color: rgba(36, 32, 32, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-line2 {
  top: 728px;
  left: 1010px;
  width: 497px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text039 {
  top: 753px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text041 {
  top: 843px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  width: 373px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text043 {
  top: 772px;
  left: 1010px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle36 {
  top: 768px;
  left: 1505px;
  width: 123px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-line3 {
  top: 938px;
  left: 1010px;
  width: 497px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text048 {
  top: 1223px;
  left: 1307px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame8 {
  top: 912px;
  left: 1206px;
  width: 176px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.frame-rectangle41 {
  top: 1496px;
  left: 1303px;
  width: 293px;
  height: 361px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 0;
}
.frame-rectangle42 {
  top: 1496px;
  left: 145px;
  width: 293px;
  height: 361px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 0;
}
.frame-text050 {
  top: 1306px;
  left: 615px;
  color: rgba(255, 255, 255, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text052 {
  top: 3324px;
  left: 889px;
  color: rgba(255, 255, 255, 1);
  width: 547px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text054 {
  top: 2316px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle45 {
  top: 2337px;
  left: 904px;
  width: 543px;
  height: 496px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-text056 {
  top: 2408px;
  left: 129px;
  color: rgba(0, 0, 0, 1);
  width: 676px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text058 {
  top: 2928px;
  left: 1044px;
  color: rgba(0, 0, 0, 1);
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle50 {
  top: 2886px;
  left: 905px;
  width: 120px;
  height: 117px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-text060 {
  top: 2880px;
  left: 1043px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-polygon1 {
  top: 109px;
  left: 903px;
  width: 31px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-polygon3 {
  top: 109px;
  left: 1560px;
  width: 31px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-polygon4 {
  top: 109px;
  left: 1322px;
  width: 31px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text062 {
  top: 3329px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text073 {
  top: 3459px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text084 {
  top: 3545px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text095 {
  top: 3625px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text106 {
  top: 3699px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text117 {
  top: 3792px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text128 {
  top: 3378px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text139 {
  top: 3474px;
  left: 935px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text140 {
  color: rgba(255, 255, 255, 1);
}
.frame-text146 {
  color: rgba(255, 156, 156, 1);
  font-weight: 300;
}
.frame-text151 {
  top: 3410px;
  left: 935px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text156 {
  top: 3378px;
  left: 937px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text158 {
  top: 3459px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text169 {
  top: 3545px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text180 {
  top: 3625px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text191 {
  top: 3699px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text202 {
  top: 3785px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle54 {
  top: 558px;
  left: 1505px;
  width: 123px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-image13 {
  top: 383px;
  left: 1384px;
  width: 20px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-image15 {
  top: 3498px;
  left: 895px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-image17 {
  top: 3544px;
  left: 895px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-image18 {
  top: 3378px;
  left: 895px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-ellipse5 {
  top: 3759px;
  left: 888px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-ellipse6 {
  top: 3759px;
  left: 969px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-ellipse7 {
  top: 3758px;
  left: 1050px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle65 {
  top: 292px;
  left: 98px;
  width: 720px;
  height: 647px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
}
.frame-rectangle66 {
  top: 1408px;
  left: 665px;
  width: 467px;
  height: 564px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle68 {
  top: 3328.139892578125px;
  left: -84px;
  width: 1884px;
  height: 838px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(75, 102, 101, 1);
  border-style: solid;
  border-width: 10px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-placeholdersvgrepocom11 {
  top: 3377px;
  left: 896px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle69 {
  top: 146px;
  left: -10px;
  width: 1752px;
  height: 1014px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle70 {
  top: 1355.8868408203125px;
  left: -268.0658264160156px;
  width: 2128px;
  height: 1028px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle87 {
  top: 1130.4541015625px;
  left: -45px;
  width: 2044px;
  height: 275px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle86 {
  top: 2014px;
  left: -550.1943359375px;
  width: 2454px;
  height: 1015px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text213 {
  top: 2229px;
  left: 31px;
  color: rgba(144, 246, 183, 1);
  width: 924px;
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 70px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text218 {
  top: 3588px;
  left: 889px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text219 {
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
}
.frame-text225 {
  color: rgba(144, 246, 183, 1);
  font-weight: 700;
}
.frame-text235 {
  top: 4192px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text237 {
  top: 4192px;
  left: 904px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text242 {
  top: 188px;
  left: 223px;
  color: rgba(183, 249, 208, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 75px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text247 {
  top: 1198px;
  left: 1008px;
  color: rgba(181, 238, 211, 0.5299999713897705);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text249 {
  top: 1102px;
  left: 830px;
  color: rgba(183, 249, 208, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text251 {
  top: 2113px;
  left: 192px;
  color: rgba(183, 248, 208, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame11 {
  top: 912px;
  left: 1206px;
  width: 176px;
  height: 54px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.frame-rectangle74 {
  top: 1496px;
  left: 1303px;
  width: 293px;
  height: 361px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 0;
}
.frame-rectangle75 {
  top: 1496px;
  left: 145px;
  width: 293px;
  height: 361px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 0;
}
.frame-frame1 {
  top: 1496px;
  left: 142px;
  width: 303px;
  height: 361px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.frame-rectangle1 {
  top: 0px;
  left: 0px;
  width: 303px;
  height: 361px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-image {
  top: 44.10932540893555px;
  left: 67.72940826416016px;
  width: 171px;
  height: 167.151123046875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 15px 25px 0px rgba(12, 68, 106, 0.15000000596046448) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 100px;
  margin-bottom: 0;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/7a515022-3922-4853-82de-7f1090881219/93acaabd-df05-4443-8264-e9b0a939ceb5?org_if_sml=165281");
}
.frame-text253 {
  top: 214.74276733398438px;
  left: 39.1529426574707px;
  color: var(--dl-color-default-primary1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 27px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text255 {
  top: 249.56591796875px;
  left: 66.56470489501953px;
  color: var(--dl-color-default-primary3);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text257 {
  top: 280.90673828125px;
  left: 73.98823547363281px;
  color: var(--dl-color-default-primary4);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text259 {
  top: 3323px;
  left: 895px;
  color: rgba(144, 246, 183, 1);
  width: 547px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle76 {
  top: 2175.228759765625px;
  left: 1019.3131713867188px;
  width: 638px;
  height: 581px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(144, 246, 183, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-text261 {
  top: 2914px;
  left: 1185px;
  color: rgba(0, 0, 0, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text263 {
  top: 3171px;
  left: 146px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text265 {
  top: 3171px;
  left: 381px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text267 {
  top: 3171px;
  left: 616px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle77 {
  top: 2881px;
  left: 1054px;
  width: 120px;
  height: 117px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-rectangle78 {
  top: 3165px;
  left: 73px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-text269 {
  top: 2867px;
  left: 1185px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle79 {
  top: 3165px;
  left: 310px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-rectangle89 {
  top: 3165px;
  left: 310px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-rectangle80 {
  top: 3165px;
  left: 543px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-text271 {
  top: 3188px;
  left: 854px;
  color: rgba(255, 255, 255, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle81 {
  top: 3165px;
  left: 781px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.frame-polygon2 {
  top: 109px;
  left: 1112px;
  width: 31px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text273 {
  top: 3380px;
  left: 146px;
  color: rgba(255, 255, 255, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text274 {
  font-weight: 700;
}
.frame-text303 {
  top: 3783px;
  left: 148px;
  color: rgba(255, 255, 255, 1);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text304 {
  font-weight: 700;
}
.frame-text321 {
  top: 3378px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text322 {
  font-weight: 700;
}
.frame-text339 {
  top: 3474px;
  left: 935px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text340 {
  color: rgba(255, 255, 255, 1);
}
.frame-text346 {
  color: rgba(255, 156, 156, 1);
}
.frame-text351 {
  top: 3410px;
  left: 935px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text356 {
  top: 3378px;
  left: 937px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text358 {
  top: 3783px;
  left: 456px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text359 {
  font-weight: 700;
}
.frame-newmessagesvgrepocom1 {
  top: 3545px;
  left: 895px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-phonecallsvgrepocom1 {
  top: 3497px;
  left: 920px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-vksvgrepocom1 {
  top: 3758px;
  left: 888px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-sharethissvgrepocom1 {
  top: 3759px;
  left: 1132px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle84 {
  top: 215px;
  left: 948.94677734375px;
  width: 720px;
  height: 647px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(144, 246, 183, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
}
.frame-frame2 {
  top: 1496px;
  left: 1297px;
  width: 303px;
  height: 361px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.frame-rectangle11 {
  top: 0px;
  left: 0px;
  width: 303px;
  height: 361px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-image1 {
  top: 44.10932540893555px;
  left: 67.72940826416016px;
  width: 171px;
  height: 167.151123046875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 15px 25px 0px rgba(12, 68, 106, 0.15000000596046448) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 100px;
  margin-bottom: 0;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/7a515022-3922-4853-82de-7f1090881219/ceb2af24-c7af-461b-94ca-02d8ee844dff?org_if_sml=164153");
}
.frame-text376 {
  top: 214.74276733398438px;
  left: 47.1529426574707px;
  color: var(--dl-color-default-primary1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 27px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text378 {
  top: 249.56591796875px;
  left: 33.56470489501953px;
  color: var(--dl-color-default-primary3);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text380 {
  top: 280.90673828125px;
  left: 73.98823547363281px;
  color: var(--dl-color-default-primary4);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text381 {
  font-weight: 500;
}
.frame-text383 {
  top: 363px;
  left: 126px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text385 {
  top: 441px;
  left: 126px;
  color: rgba(0, 0, 0, 1);
  width: 520px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text387 {
  top: 385px;
  left: 126px;
  color: rgba(0, 0, 0, 1);
  width: 518px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle72 {
  top: 409px;
  left: 668px;
  width: 123px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(144, 246, 183, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-line4 {
  top: 560px;
  left: 124px;
  width: 520px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text389 {
  top: 571px;
  left: 128px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text391 {
  top: 649px;
  left: 128px;
  color: rgba(0, 0, 0, 1);
  width: 520px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text393 {
  top: 593px;
  left: 128px;
  color: rgba(0, 0, 0, 1);
  width: 516px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-line5 {
  top: 768px;
  left: 126px;
  width: 520px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-text395 {
  top: 779px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text397 {
  top: 857px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 520px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text398 {
  color: rgba(0, 0, 0, 1);
  text-decoration: NONE;
}
.frame-text399 {
  color: rgba(144, 246, 183, 1);
  text-decoration: UNDERLINE;
}
.frame-text401 {
  top: 801px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 514px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-rectangle73 {
  top: 818px;
  left: 668px;
  width: 123px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(144, 246, 183, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-rectangle83 {
  top: 617px;
  left: 668px;
  width: 123px;
  height: 123px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(144, 246, 183, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
}
.frame-image19 {
  top: 451px;
  left: 707px;
  width: 46px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rectangle88 {
  top: 1424.2601318359375px;
  left: 602px;
  width: 571px;
  height: 543px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(60, 161, 187, 1);
  border-style: solid;
  border-width: 6px;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
}
.frame-text403 {
  top: 2385px;
  left: 129px;
  color: rgba(0, 0, 0, 1);
  width: 710px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-youtubesvgrepocom11 {
  top: 3758px;
  left: 969px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-rsssvgrepocom1 {
  top: 3759px;
  left: 1051px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-image23 {
  top: 33px;
  left: 39px;
  width: 79px;
  height: 78px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.frame-component1 {
  top: 3180px;
  left: 1219px;
  width: 166px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.frame-rectangle2 {
  top: 0px;
  left: 0px;
  width: 166px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 34px;
  margin-bottom: 0;
}
.frame-text408 {
  top: 10px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
